@font-face {
    font-family: font;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font;
}

body {
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    background-color:hsl(0, 0%, 12%);
    align-items: center;
    max-width: 320px;
    padding: 30px;
    width: 100%;
    border-radius: 15px;
}

.wrapper-div img {
    width: 60px;
    border-radius: 50%;
}

.wrapper-div h3 {
    color: hsl(0, 0%, 100%);
}

.wrapper-div h5 {
    color:hsl(75, 94%, 57%);
}

.wrapper-div p {
    font-size: 14px;
    color: hsl(0, 2%, 76%);
    margin: 10px auto;
}

.wrapper-div button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color:  hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%); 
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.wrapper-div button:active {
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 20%);
}

.attribution {
    color: hsl(0, 2%, 76%);
    margin: 10px auto;
}

.attribution a {
    color: hsl(0, 100%, 99%);
    margin: 10px auto;
    text-decoration: none;
    margin-left: 10px;
}

@media (max-width: 480px) {
    .wrapper-div {
        padding: 20px;
        width: 90%;
    }

    .wrapper-div img {
        width: 50px;
    }

    .wrapper-div h3 {
        font-size: 18px;
    }

    .wrapper-div h5 {
        font-size: 16px;
    }

    .wrapper-div p {
        font-size: 12px;
    }

    .wrapper-div button {
        height: 35px;
    }

    .attribution {
        font-size: 12px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .wrapper-div {
        width: 80%;
        padding: 25px;
    }

    .wrapper-div img {
        width: 55px;
    }

    .wrapper-div h3 {
        font-size: 20px;
    }

    .wrapper-div h5 {
        font-size: 18px;
    }

    .wrapper-div p {
        font-size: 13px;
    }

    .wrapper-div button {
        height: 38px;
    }

    .attribution {
        font-size: 13px;
    }
}

@media (min-width: 769px) {
    .wrapper-div {
        width: 30%;
        padding: 30px;
    }

    .wrapper-div img {
        width: 60px;
    }

    .wrapper-div h3 {
        font-size: 22px;
    }

    .wrapper-div h5 {
        font-size: 20px;
    }

    .wrapper-div p {
        font-size: 14px;
    }

    .wrapper-div button {
        height: 40px;
    }

    .attribution {
        font-size: 14px;
    }
}

